
<html>
<style>
body{
	background-color: #FFF0AE;

}


.bo{
	background-color: white;
	border: 3px solid black;
	margin-top: 40px;
	margin-right: 300px;
	margin-left: 300px; 
}

.ti{
	background-color: white;
	border: 3px solid black;
	margin-top: 20px;
	margin-right: 300px;
	margin-left: 300px; 
	margin-bottom: 30px; 
}


</style>
<head>
<title>Return Car</title>
</head>

<body>

<div class="bo"><center><h1>Return Car</h1></center></div>

<h1>
<br>
<div class="ti">
<center>
{% load crispy_forms_tags %}<br>
{% crispy form %}<br>
</h1>
</center>
</div>

</body>
</html>
